@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
       
        background: url('/lib/Images/Ontwerp zonder titel (1).svg') no-repeat center center fixed;
        background-size: cover;
    }

    .row:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease-in-out;
    }
</style>

<div class=" text-center shadow m-5 p-4 bg-white">
    <div class="justify-content-center mb-5">
        <img src="~/lib/Images/LogoBen.svg" class="w-25" alt="Logo" />
    </div>
    <div class="row border rounded-pill ms-5 me-5 p-3 justify-content-center mb-4">
        <i class="bi bi-instagram icons"> Instagram</i>
    </div>
    <div class="row border rounded-pill ms-5 me-5 p-3 justify-content-center mb-4">
        <i class="bi bi-facebook icons"> Facebook</i>
    </div>
    <div class="row border rounded-pill ms-5 me-5 p-3 justify-content-center mb-4" onclick="window.location.href=''">
        <i class="bi bi-tiktok icons"> TikTok</i>
    </div>
    <div class="row border rounded-pill ms-5 me-5 p-3 justify-content-center mb-4" onclick="window.location.href='https://www.linkedin.com/company/benwoonzorgnetwerk/'">
        <i class="bi bi-linkedin icons"> LinkedIn</i>
    </div>
    <div class="row border rounded-pill ms-5 me-5 p-3 justify-content-center mb-4" onclick="window.location.href='https://ben-woonzorgnetwerk.be'">
        <i class="bi bi-send icons"> Website</i>
    </div>
</div>
